body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.image {
  width: 300px;
}
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.nav {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
a {
  margin-right: 15px;
}
.header {
  text-align: center;
  font: size 1.7rem;
}
.form-structure {
  margin: 25px;
  padding: 13px;
}
.form {
  display: block;
  margin: auto;
  height: 20px;
  width: 20%;
  border: solid black 2px;
  margin-bottom: 1rem;
}
button {
  font-weight: bold;

  background-color: #f1c40f;
}

.features {
  display: flex;
  width: 90%;
  margin: auto;
}
i {
  padding: 30px;
  margin-right: 30px;
  color: orange;
}
.video {
}

.cardStructure {
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}
h4 {
  background-color: #ccc;
  margin: 0;
  height: 50px;
  padding-top: 15px;
}
.cards {
  width: 30%;
  border: solid black 5px;
}

footer {
  display: flex;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 0;
  background-color: #ccc;
  justify-content: space-evenly;
}
.footer-structure {
  width: 30%;
  text-align: center;
}
